<?xml version="1.0"?>

<launch>
    
    <node pkg="points_ground_filter" type="points_ground_filter_node" name="points_ground_filter_node" output="screen">
        
        <param name="sub_topic" value="/pandar_points_processed"/>
        <param name="pub_ground_topic" value="/pandar_points_ground"/>
        <param name="pub_no_ground_topic" value="/pandar_points_no_ground"/>
        
        <param name="show_points_size" value="true"/>
        <param name="show_time" value="true"/>
        
        <param name="crop_range_mode" value="true"/>
        <param name="range_front" value="50"/>
        <param name="range_rear" value="50"/>
        <param name="range_left" value="15"/>
        <param name="range_right" value="15"/>
        
        <param name="sensor_height" value="2.0"/>
        <param name="seeds_distance_threshold" value="1.0"/>
        <param name="ground_distance_threshold" value="0.2"/>
        <param name="num_lpr" value="100"/>
        
        <param name="seg_num_front" value="5"/>
        <param name="seg_num_rear" value="5"/>
        <rosparam param="seg_distance_front" > [10, 20, 30, 40, 50] </rosparam>
        <rosparam param="seg_distance_rear" > [10, 20, 30, 40, 50] </rosparam>
        
    </node>

</launch>
